*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color:#fff;
}
header {
    background-color: rgb(26, 90, 207);
    color: #fff;
    font-family: 'Oswald', sans-serif;
    
}

.container-header {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.link li {
    float: left;
    padding: 16px;
    list-style: none;
    
}

.link a {
    color: #fff;
    text-decoration: none;
}

.container-sobre {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    font-family: 'Oswald', sans-serif;
}

.coluna-img img {
    width: 400px;
}

.coluna-texto h2 {
    color:   rgb(26, 90, 207);
    padding-bottom: 16px;
    margin-bottom: 16px;
    border-bottom: 1px solid rgb(26, 90, 207)
}


.coluna-texto {
    margin-left: 50px ;
    
}

.container-produtos {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    
}

.container-produtos h2 {
    color:  rgb(26, 90, 207);
    margin-top: 60px;
    margin-bottom: 16px;
    border-bottom: 1px solid  rgb(26, 90, 207);
    padding-bottom: 16px;
    font-family: 'Oswald', sans-serif;
}

.produtos {
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    padding-left: 10px;
    
}



.produto img{
    width: 200px;
    margin-top: 16px;
    max-width: 1024px;
    width: 100%;
    padding-right: 30px;
    
    
    
}
.produto h2,p{
    max-width: 1024px;
    width: 105%;
    margin: 0 auto;
    color: black;
    padding: 5px;

}

.produto h2 {
    margin-bottom: 10px;

}

.produto p {
    width: 80%;
    float: left;
}

button {
    max-width: 1024px;
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 50px;
    padding: 8px;
    font-size: 16px bold;
    background-color:   rgb(26, 90, 207);
    color: #fff;
    border: none;
    align-items: center;
}



@media screen and (max-width:640px){
    

    header {
        padding: 20px;
        max-width: 640px;
        width: 145%;
    }

    .container-header {
        padding: 30px;
        font-size: 20px;
    }

    .container-sobre img {
        max-width: 640px;
        width: 98%;
        padding-bottom: 20px;
        padding-left: 50px;
    }

    .container-sobre {
        display: block;
        max-width: 640px;
        width: 130%;
        
    }

    .container-sobre h2 {
        font-size: 30px;
    }

    .container-sobre p {
        font-size: 20px;
    }

    .container-produtos {
        max-width: 450px;
        width: 130%;
        margin-left: 40px;
        font-size: 30px;
        
    }    
    
    .produtos{
        display: block;
        max-width: 640px;
        width: 130%;
        margin-left: 35px;
    }

    .produto h2 {
        font-size: 50px;

    }

    .produto p {
        font-size: 25px;
    }

    button {
        padding: 18px;
        max-width: 640px;
        width: 90%;
        font-size: 20px;
        border-radius: 15px;
        
    }
}

@media screen and (min-width: 641px) and (max-width: 1023px) {

        body {
            max-width: 850px;
            width: 100%;
            margin: 0 auto;
        }

        .container-header {
            max-width: 850px;
            width: 100%;
        }

    .container-header h1 {
                
        margin-left: 60px;
    }

    .container-header a{
        margin-right: 60px;
    }
    
    .container-sobre {
        display: block; 
    
    }

    .coluna-texto h2 {
        width: 90%;
    }

    .container-sobre img {
        margin-left: 70px;
        width: 500px;
        margin-bottom: 30px;
    }

    .container-sobre p {
        margin-right: 90px;
        width: 600px;
    }

    .container-produtos h2{
        margin-left: 50px;
        width: 90%;
        margin-bottom: 30px;
        
    } 
    
    .produtoDois {
        margin-bottom: 28px;
    }

    .produtos {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 50.6%);
        column-gap: 1%;
        row-gap: 5%;
    }
}

